<div class="card">
  <img class="card-overlay" src="assets/images/save.png" (click)="saveData()" *ngIf="!isSaved"/>
  <div class="profile-header">
    <img class="profile-image" [src]="userData.picture.large" />
    <div class="user-name">{{ formatName(userData.name) }}</div>
  </div>
  <div class="profile-h">Profile Info</div>
  <div class="info-cont">
    <div class="info-left">
      <div class="info-lbl">Gender: </div>
      <div class="info-lbl">Country: </div>
      <div class="info-lbl">Location: </div>
      <div class="info-lbl">E-mail: </div>
    </div>
    <div class="info-right">
      <div class="user-data">{{ formatGender(userData.gender) }}</div> 
      <div class="user-data">{{ userData.location.country }}</div>
      <div class="user-data">{{ formatLocation(userData.location) }}</div>
      <div class="user-data">{{ userData.email }}</div>
    </div>
  </div>
  <div class="weather-btn" (click)="emitShowOverlay()">Show Local Weather</div>
  <div class="weather-btn" (click)="showLocation()">Show User Location</div>
</div>